@font-face {
    font-family: "Montserrat";
    src: url("../assets/Montserrat.otf");
}

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
}

body {
    background-image: url("../assets/coin.png");
    background-color: #ffe165;
    background-repeat: space space;
    background-size: 10rem auto;
    border: 2rem ridge rgb(236, 190, 47, 0.6);
    box-sizing: border-box;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

table {
  border-collapse: collapse;
}


table tr {
    border: 1px solid black;
}

table td {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

button {
    padding: 0px;
    box-shadow: 5px 5px 20px;
    border-radius: 0px;
    font-size: 2rem;
    min-width: 1px;
    max-width: 100%;
    border: 1rem solid rgb(252, 238, 167);
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(256, 256, 256, 0.7);
    margin: 20px;
}

button:hover {
    background-color: rgb(252, 238, 167, 0.7);
}


@media (max-width: 400px) {
body {
    border: none;
}
}

