doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Document
p questions answered: #{questions_answered} 
p answers correct: #{answers_correct} 
p total questions: #{total_no_questions} 
p total time taken (for answered questions): #{time_taken} 
