@font-face {
    font-family: "Montserrat";
    src: url("../assets/Montserrat.otf");
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body {
    background-image: url("../assets/coin.png");
    background-color: #ffe165;
    background-repeat: space space;
    background-size: 10rem auto;
    border: 2rem ridge rgb(236, 190, 47, 0.6);
    box-sizing: border-box;
}

main {
    height: 100%;
    box-sizing: border-box;
}

.display_content {
    padding: 1rem;
    box-shadow: 5px 5px 20px;
    border-radius: 0px;
    font-size: 2rem;
    min-width: 1px;
    max-width: 100%;
    border: 2rem solid rgb(252, 238, 167);
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(256, 256, 256, 0.7);
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
}

.text_block {
    display: flex;
    flex-flow: column nowrap;
    justify-content: top;
    align-items: center;
}

.text_block > h1 {
    font-size: 5rem;
}

.text_block > div {
    font-size: 1.5rem
}

button {
    padding: 1rem;
    box-shadow: 5px 5px 20px;
    border-radius: 0px;
    font-size: 2rem;
    min-width: 1px;
    max-width: 100%;
    border: 2rem solid rgb(252, 238, 167);
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(256, 256, 256, 0.7);
}

button:hover {
    background-color: rgb(252, 238, 167, 0.7);
}
